@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
    
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}



/*Barra de encabezado*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    position: fixed;
    background-color: #09b617;
    width: 100%;
    
    
    
    

}

.nav__logo{
    color: white;
    font-size: 25px;
    text-decoration: none;
}


.logoimg{
    height: 50px;
         

}


:root{
    --padding-container: 100px 0;
    --color-title: #005876;
    

}


/*Ajustes encabezado*/
.container{
   height: 20%;
   width: 90%;
   margin: 0 auto;
   overflow: hidden;
   padding: var(--padding-container);


}




.hero{
    
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr; 
    color: #fff;
}

.mailto a{
    align-items: center;
    color: #fff;
    text-decoration: none;
    
}

.mailto a:hover{
    background: #005876;
}

.tel a{
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.tel a:hover{
    background: #005876;
}



/*Imagen encabezado*/
.hero::before{
   content: "";
   position: absolute;
   left: 0;
   width: 100%;
   height: 90vh !important;
   background-image: linear-gradient(200deg, #071a1f8c 100%,  #2e6443c0 100% ), url('../images/imgitems2.png') ;
   background-size: cover;
   clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 84% 88%, 73% 98%, 61% 88%, 0 88%);
   z-index: -1;
   
}

/* Nav - Encabezado */
.nav{
    margin: 0;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #0974b6;
    z-index: 100;
    --padding-container:0;
}



.nav__title{
    margin-left: 30px;
    font-weight: 300;
}

/*Logo - Nombre de la página (Encabezado*/
.nav__link{
    margin-right: 30px;
    margin-left: auto;
    padding:0%;
    display: flex;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
    color: white;
}


.nav__links{
    
    color: #fff;
    text-decoration: none;
}

/*Cambiar el color del link al pasar el mouse por encima*/
nav a:hover{
    
    color: #45e052;
}
.nav__menu{
    margin-left: auto;
    cursor:pointer;
    display: none;
    
}

/*Menú Sandwich*/
.nav__img{
    margin-right: 30px; 
    display: block;
    
}

.nav__close{
    display: var(--show, none);
}


/*Hero container - Titulo encabezado */

.hero__container{
    
    height: 580px;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
    
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 10px;
}

.cta{

    display: inline-block;
    background-color: #21d12f;
    justify-self: center;
    color:#fff;
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 32px;
    transition: background-color .4s ease-out; /* Tiempo de transición entre el cambio de color */ 
    
}

.cta:hover{
    background-color: #0974b6;
}

.btndevice{
    
    margin: 0;
    padding: 2rem;
    text-align: center;
}

.carrusel .diagnostic_items{
    text-align: center;
}

.carousel .diagnostic_items img{
    text-align: center;
    
    width: 15%;
}

/* About */

.about__title{
    color: #0974b6;
}

.about__title2{
    color: #EA4335;
}

.about{
    padding-top: 3px; /*Borde caja*/
    text-align: center;
}

.subtitle{
    
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 10px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
}
.about__icons{
    
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin:auto;
}

.about__icon{
    
    width: 40px;
}

/* CARRUSEL */

.carousel{
    
    padding: 5em 1;
    margin: -3%;
}

.carrusel{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1{
    
    font-weight: 400;
    text-align: center;
    padding: 0px 0px;
    font-size: 40px;
    
}


/* Color texto span encabezado */
.hero__container span{
    color: #21d12f;
}



/* Columnas del GRID y tamaño */
.carrusel{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    margin: 40px;
    grid-gap: 35px;
    padding: 35px;
    overflow: hidden;
}

.carrusel > img a{
    align-items: center;
}

.carrusel >  img{
    padding: 0;
    margin: 0;
    align-content: center;
    display: block;
    
    
    
}




.carrusel img{
    
    width: 70%;
    vertical-align: top;    
    object-fit: cover;
    transition: scale(1.15)/* Animación al pasar el mouse */   
     
    
}



/* Efecto + Animación para las fotos */
.carrusel a:hover img{
    
    transition-duration: .5s;    
    transform: scale(1.3);     
    
}

.carousel h1{
    padding: 10% 10;
    font-weight: 800;
    color: #09b617;
}

.light-box{
    
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}



.light-box img{
    width: 75vw;
    max-height: 70vh;
}

.light-box:target{
    transform: scale(1);
}

.btncontact img{
    width: 100px;
}

/* Contenedor foto */

.contenido{
    max-width: 1100px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}


.contenedor-foto img{
    padding: 1em;
    width: 300px;   
}

/* menú oculto */
.phone-items{
    display: none;    
    padding: 1em;
    margin: auto;
}

.phoneitems{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}





/* Columnas del GRID y tamaño */
.phoneitems{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    margin: 40px;
    grid-gap: 35px;
    padding: 35px;
    overflow: hidden;
}

.phoneitems > img a{
    align-items: center;
}

.phoneitems >  img{
    padding: 0;
    margin: 0;
    align-content: center;
    display: block;
    
    
    
}




.phoneitems img{
    
    width: 70%;
    vertical-align: top;    
    object-fit: cover;
    transition: scale(1.15)/* Animación al pasar el mouse */   
     
    
}



/* Efecto + Animación para las fotos */
.phoneitems a:hover img{
    
    transition-duration: .5s;    
    transform: scale(1.3);     
    
}



.light-box{
    
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}



.light-box img{
    width: 75vw;
    max-height: 70vh;
}

.light-box:target{
    transform: scale(1);
}




/*Knowledge*/

.knowledge{
    
    background-color: #ebeff9;
    opacity: 1;
    background: linear-gradient(135deg, #dbe7fc55 25%, transparent 25%) -23px 0/ 46px 46px, linear-gradient(225deg, #dbe7fc 25%, transparent 25%) -23px 0/ 46px 46px, linear-gradient(315deg, #dbe7fc55 25%, transparent 25%) 0px 0/ 46px 46px, linear-gradient(45deg, #dbe7fc 25%, #ebeff9 25%) 0px 0/ 46px 46px;
    
    overflow: hidden;

}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    
    
}

.knowledge__picture{
    max-width: 800px;
    
}

.knowledge__paragraph{
    line-height: 1,7;
    margin-bottom: 15px;
    color: rgb(11, 11, 15);
}

.knowledge__img{
    margin: auto;
    width: 90%;
    display: block;
}


/* GALERIA */
.galeria{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1{
    
    font-weight: 400;
    text-align: center;
    padding: 0px 0px;
    font-size: 10px;
    
}





.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    margin: auto;
    grid-gap: 30px;
    padding: 35px;
    overflow: hidden;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5); 
}



.galeria img{
    width: 100%;
    vertical-align: top;    
    object-fit: cover;
    transition: transform 0.5s; /* Animación al pasar el mouse */   
     
    
}



/* Efecto + Animación para las fotos */
.galeria a:hover img{
    filter: blur(1px);    
    transform: rotate(10deg) scale(1.3);     
    
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}



.light-box img{
    width: 75vw;
    max-height: 70vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #292929;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 40%;
}

.close:hover{
    background-color: #b60909;
}

.next{
    margin: 10px;
    display: block;    
    background: #292929;
    color: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    border-radius: 40%; 
    
}

.next:hover{
    background-color: #0974b6;
    
}


/* Testimony */

.testimony{
    background-color: #fafaff;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    

}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;    
    
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 45% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: #09b617;
    color: #fff;
    display: inline-block;
    padding: 5px;


}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

/* Questions */

.questions{
    text-align: center;

}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .2s;
    border: 3px solid #05050a;
    border-radius: 8px;
}

.questions__padding--add{
    padding-bottom: 30px;

}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;

}

.questions__title{
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: #125186;
    justify-content: space-between;


}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 80px;
    transition: transform .3s;


}

.questions__arrow--rotate{
    transform: rotate(180deg);
}
.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;

}

.questions__img{
    display: block;
}

.questions__copy{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;

}

/* Footer - Apartado de contacto*/


.contentinfo{
    background: #171717;
    color: white;
    padding: 0 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
}

.logocontact{
    padding: .4em;
    text-align: center;
    font-size: 4em;
}

.logocontact span{
    color: #2497be;
}



.contact-wrapper > * {
    padding: 1em;
}

.contact-form{
    background: #282828;
    
}



.contact-info{
    background: #0f0f0f;
    
}


.contact-form form .block{
    grid-column: 1 / 3;

}

/* Botón Submit */
.contact-form form .btnsubmit{
    
    grid-column: 1 / 3;
    

}


.contact-form form p {
    margin: 0;
    padding: 1em;
}

/* Cambio del cursor sobre el botón */
.contact-form form button{
    cursor: pointer;
}



.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 1px solid #0974b6;
}

.contact-form form button{
    background: #2497be;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #41ab10;
    color: #ffffff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    
    list-style: none;
    padding: 0;
    
    
}

.contact-info ul li{    
    padding: .2em;
    text-decoration: none;
    
}

.contact-info.navclass mailto{
    background-color: #005876;
}

.contact-info ul li{
    padding: auto;
    
}

/* PANTALLA GRANDE */

@media (min-width:700px){
    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper{
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 2em;
        text-align: left;
    }
}










.footer{
    background-color: #111111;
}

.footer__title{
    color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #ffffff;
}

.footer__container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;

}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2097f9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;

}


.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;

}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    display: inline-flex;
    margin-bottom: 10px;
}


.footer_img{
    width: 30px;
}


/* Media queries */

@media (max-width:800px){

    .about__paragraphp {
        display: none;
    }

    .logocontact {
        margin: 18px 0px;
        padding: 0px;
        text-align: center;
        font-size: 55px;
    }

    .contact-info {
        font-size: 11px
    }

    .hero__container {
        height: 580px;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 180px;
        text-align: center;
    }

    .carrusel {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(109px, 1fr));
        width: 100%;
        margin: 26px;
        grid-gap: -20px;
        padding: 13px;
        overflow: hidden;
    }
    .nav__menu{
        margin-right: -20px;
        display: block;
    }

    .nav__logo {
        margin-left: -12px;
        font-size: 20px;
    }

    .nav__link--menu{
        position: fixed;
        background: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;

    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;

    }

    .hero__title{
        font-size: 2.5rem;

    }

    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    
    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2; 
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimony__img{
        width: 200px;
        height: 200px;
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
        background-color: #068911;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width: 600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        margin: 7px 11px;
        font-size: 1rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        padding: 40px;

    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }


    
    .nav__link--footer{
        justify-content: space-between;
    }
    

    
    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;

    }

    
    .footer__submit{
        margin: 0;
        width: 100%;
        
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    

    .footer__input{
        flex-wrap: wrap;
    }
    nav a:hover{
        color: #45e052;
    }

    

    

}
/* Ocultar los Items */
.computer_repair_items {
    display: none;
}

.mobile_items {
    display: none;
}

.diagnostic_items{
    display: none;
}
